<div class="jumbotron">
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">thingamathings</h5>
          <p class="card-text">Click below for more info!</p>
          <a

            (click)="toProduct('thingamathings')"
            class="btn btn-primary">Detail</a>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">underwaterbasketweaving</h5>
          <p class="card-text">Click below for more info!</p>
          <a (click)="toProduct('underwaterbasketweaving')" class="btn btn-primary">Detail</a>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">whatsitfucks</h5>
          <p class="card-text">Click below for more info!</p>
          <a (click)="toProduct('whatsitfucks')" class="btn btn-primary">Detail</a>
        </div>
      </div>
    </div>

  </div>

</div>
<router-outlet></router-outlet>
